@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="intro" class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">

                <div class="section-title text-center">
                    <small>Contact Us</small>
                    <h2>Get in Touch</h2>
                    <div class="breadcrumbs">
                        <span class="item"><a href="index.html">Home /</a></span>
                        <span class="item">Contact</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="contact-us-wrap py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="contact-info col-md-6">
                <h2>Contact information</h2>

                <p>Tortor dignissim convallis aenean et tortor at risus viverra adipiscing.</p>
                <div class="page-content">
                    <div class="col-md-6">
                        <div class="content-box my-5">
                            <h5 class="element-title text-uppercase fs-6 fw-bold ">Head Office</h5>
                            <div class="contact-address">
                                <p>str. Studentilor 9/7, Chisinau, MD</p>
                            </div>
                            <div class="contact-number ">
                                <a href="#">+60598996 ,</a>
                                <a href="#">+69899576</a>
                            </div>
                            <div class="email-address">
                                <p>
                                    <a href="#">banilagreu@gmail.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-box my-5">
                            <h5 class="element-title text-uppercase fs-6 fw-bold ">Branch Office</h5>
                            <div class="contact-address">
                                <p>str. Florilor 12/26, Chisinau, MD</p>
                            </div>
                            <div class="contact-number ">
                                <a href="#">+69799596 ,</a>
                                <a href="#">+69685787</a>
                            </div>
                            <div class="email-address">
                                <p>
                                    <a href="#">cryptomonede@gmail.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-box my-5">
                            <h5 class="element-title text-uppercase fs-6 fw-bold ">Social info</h5>
                            <div class="social-links">
                                <ul class="list-unstyled d-flex gap-3 mt3 ">
                                    <li>
                                        <a href="#" class="text-secondary me-3 p-0">
                                            <iconify-icon icon="ri:facebook-fill" class="social-icon"></iconify-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-secondary me-3 p-0">
                                            <iconify-icon icon="ri:instagram-line" class="social-icon"></iconify-icon>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-secondary me-3 p-0">
                                            <iconify-icon icon="ri:twitter-fill" class="social-icon"></iconify-icon>

                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-secondary me-3 p-0">
                                            <iconify-icon icon="ri:youtube-fill" class="social-icon"></iconify-icon>

                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-secondary me-3 p-0">
                                            <iconify-icon icon="ri:linkedin-fill" class="social-icon"></iconify-icon>

                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inquiry-item col-md-6">
                <h2>Got any questions?</h2>

                <p>Use the form below to get in touch with us.</p>
                <form id="form" class="form-group flex-wrap">
                    <div class="form-input col-lg-12 d-flex mb-3">
                        <input type="text" name="email" placeholder="Write Your Name Here" class="form-control ps-3 me-3 bg-light">
                        <input type="text" name="email" placeholder="Write Your Email Here" class="form-control ps-3 bg-light">
                    </div>
                    <div class="col-lg-12 mb-3">
                        <input type="text" name="email" placeholder="Phone Number" class="form-control ps-3 bg-light">
                    </div>
                    <div class="col-lg-12 mb-3">
                        <input type="text" name="email" placeholder="Write Your Subject Here" class="form-control ps-3 bg-light">
                    </div>
                    <div class="col-lg-12 mb-3">
                        <textarea placeholder="Write Your Message Here" class="form-control ps-3" rows="8"></textarea>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-arrow btn-primary btn-lg   btn-dark text-dark fs-6">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="contact-list pb-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 border-end">
                <div class="content-box ps-3 my-4">
                    <h5 class="element-title text-uppercase fs-6 fw-bold">Romania</h5>
                    <div class="contact-address">
                        <p>str. Ruseasca 9/7, Iasi, RO</p>
                    </div>
                    <div class="contact-number">
                        <p>
                            <a href="#">+408959687 ,</a>
                            <a href="#">+407989976</a>
                        </p>
                    </div>
                    <div class="email-address">
                        <p>
                            <a href="#">Crypto@yourcompany.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 border-end">
                <div class="content-box ps-3 my-4">
                    <h5 class="element-title text-uppercase fs-6 fw-bold">Moldova</h5>
                    <div class="contact-address">
                        <p>str. Studentilor, Chisinau, Moldova</p>
                    </div>
                    <div class="contact-number">
                        <p>
                            <a href="#">+68797967 ,</a>
                            <a href="#">+69879697</a>
                        </p>
                    </div>
                    <div class="email-address">
                        <p>
                            <a href="#">Crypto@yourcompany.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-box ps-3 my-4">
                    <h5 class="element-title text-uppercase fs-6 fw-bold">Office</h5>
                    <div class="contact-address">
                        <p>Centru, Chisinau, Moldova</p>
                    </div>
                    <div class="contact-number">
                        <p>
                            <a href="#">+68797967 ,</a>
                            <a href="#">+69879697</a>
                        </p>
                    </div>
                    <div class="email-address">
                        <p>
                            <a href="#">cryptomonede@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="subscribe" class="padding-large pattern-circle">
    <div class="container">
        <div class="row d-flex justify-content-center">

            <div class="col-md-8">
                <div class="subscribe-content">
                    <div class="subscribe-header text-center">
                        <h2 class="display-5">Subscribe & get news updates</h2>
                        <p>Duis massa posuere commodo sed tortor ultrices accumsan augue. Aliquet bibendum placerat vivamus diam ullamcorper vitae sapien auctor ut. Suspendisse donec id aenean diam dolor nec vitae massa id. Velit nullam consequat orci amet fames sed. Amet tincidunt adipiscing varius maecenas adipiscing.</p>
                    </div>
                    <form id="form" class="border-set-bold border-rounded-20">
                        <input type="text" name="email" placeholder="Write your email here" class="btn-rounded">
                        <button class="btn btn-linear btn-medium btn-rounded text-uppercase">Subscribe Now</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>





<script src="js/jquery-1.11.0.min.js"></script>
<script src="assets/vendor/bootstrap-5.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </body>
</html>