@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="intro" class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <div class="section-title text-center">
                    <small>Our Plan</small>
                    <h2>Project Roadmap</h2>
                    <div class="breadcrumbs">
                        <span class="item"><a href="@Url.Action("Index", "Home")">Home /</a></span>
                        <span class="item">Roadmap</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="roadmap" class="padding-large">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-center">

            <div class="col-md-6 my-4">
                <div class="roadmap-step border-set-bold border-rounded-20 p-4">
                    <h4 class="mb-2 text-linear">Q1 2025</h4>
                    <ul class="list-unstyled fs-5">
                        <li>? Platform Design Finalized</li>
                        <li>? Smart Contract Development</li>
                        <li>? Website Launch</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 my-4">
                <div class="roadmap-step border-set-bold border-rounded-20 p-4">
                    <h4 class="mb-2 text-linear">Q2 2025</h4>
                    <ul class="list-unstyled fs-5">
                        <li>? Beta Release</li>
                        <li>? Initial Token Offering (ITO)</li>
                        <li>? Start Building Community</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 my-4">
                <div class="roadmap-step border-set-bold border-rounded-20 p-4">
                    <h4 class="mb-2 text-linear">Q3 2025</h4>
                    <ul class="list-unstyled fs-5">
                        <li>? Mobile App Alpha</li>
                        <li>? Listing on Exchanges</li>
                        <li>? Marketing Expansion</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 my-4">
                <div class="roadmap-step border-set-bold border-rounded-20 p-4">
                    <h4 class="mb-2 text-linear">Q4 2025</h4>
                    <ul class="list-unstyled fs-5">
                        <li>? Full Mobile App Launch</li>
                        <li>? Partnership Integrations</li>
                        <li>? Scaling Infrastructure</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>